body{
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 2% 2%;
    text-decoration: none;
}
input {
	border: none;
	float: left;
    font-size: 24px;
    display: block;
    text-decoration: none;
}
.hide {
	visibility: hidden;
}
#microscope {
	color: white;
	background-color: #333;
}
.button:hover {
    background-color: #111;
}
.quote-box {
	text-align: center;
	padding-top: 25%;
	padding-left: 15%;
	padding-right: 15%;
}
.quote-text {
	font-size: 40px;
	font-weight: bold;
}
.quote-author {
	font-size: 20px;
	font-weight: normal;
}